body {
  background-color: #A3E4DB;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: grey;
  border-width: 5px;
  height: 1px;
  width: 3%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}
